@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Value from Configuration</h2>
        <h4>
            Base url: <span>@ViewData["BaseUri"]</span>
        </h4>
    </div>
    <div class="col-md-6">
        <h2>Secret from Configuration</h2>
        <h4>
            Secret: <span>@ViewData["Secret"]</span>
        </h4>
    </div>
</div>
